@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
::after,
::before {
    box-sizing: border-box;
}

.btn,
button {
    cursor: pointer !important;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    background-color: #ffffff;
    position: relative;
}

main {
    padding-top: 12rem;
}

.fixed-top {
    background-color: #ffffff;
}

.as-header {
    display: flex;
    align-items: end;
    padding: 1rem 0;
    border-bottom: 1px solid #e2e2e2;
}

.as-header-brand {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.as-header-logo {
    margin-bottom: 8px;
}

.as-header-number {
    width: 33%;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.as-header-logo-name {
    margin-bottom: 0.375rem;
}

.as-header-logo-title {
    color: #000;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.65px;
    text-transform: uppercase;
}

.as-header-options {
    width: 34%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.as-header-options ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.as-profile a:hover {
    border-color: #f0b403;
}

.as-header-options .nav-link {
    padding: 15px 1.25rem !important;
    border-radius: 10px !important;
}

.as-korzina {
    margin-left: 2rem;
}

.as-korzina a {
    border: 1px solid #f9ce03;
    background-color: #f0ce03;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.as-korzina a .badge-cart {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.as-profile a {
    border: 1px solid #e1e1e1;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

/* main */
.as-about-breadcrumb{
    margin-bottom: 2rem;;
}
.breadcrumb-item {
    display: flex;
}
.breadcrumb-item a {
    color: #515151;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.as-about-title {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130.5%;
}

.as-about-subtitle {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130.5%;
    margin-bottom: 1.5rem;
}

.as-about-info {
    color: #515151;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.5%;
}

.as-about-us {
    margin-bottom: 4rem;
}

.video-player {
    margin-bottom: 10rem;
}

/* footer */
footer {
    background-color: #c9cacc;
}
.as-footer-container {
    padding: 9rem 0 3rem 0;
    border-bottom: 1px solid #bfbfbf;
}

.as-footer-container .row {
    margin-bottom: 4rem;
}
.as-footer-logo a {
    display: flex;
    flex-direction: row;
}
.as-footer-logo a img {
    margin-right: 0.5rem;
}

.brand-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-name-img-1 {
    margin-bottom: 0.5rem;
}

.as-footer-title {
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.as-footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.as-footer-list li {
    margin-bottom: 1.25rem;
}

.as-footer-list li a {
    color: #141414;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.number-desc {
    color: #000;
    font-size: 0.8px;
    font-style: normal;
    font-weight: 400;
}

.as-footer-number,
.as-working-time {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.as-footer-number {
    margin-bottom: 1.25rem;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}
.as-footer-socials {
    display: flex;
}

.as-footer-socials a {
    margin-right: 2.625rem;
}

.playmarket {
    margin-right: 1.25rem;
}

.as-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.375rem 0;
    color: #686868;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
}

/* modal styles */
.modal-lg .modal-content {
    padding: 3rem;
}
.modal-title {
    color: #000;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal-header {
    border-bottom: none;
    margin-bottom: 1rem;
}

.as-modal-number {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
}
.as-modal-form .form-control {
    height: 100%;
    padding: 1rem;
}
.as-modal-form button {
    padding: 1rem;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #f9ce03;
    background: #f9ce03;
    width: 100%;
}

.as-modal-form button:hover {
    background-color: #f9ce03;
    border-color: #f0ce03;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    background-color: #f9ce03;
    border-color: #f0ce03;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
}

.modal-header .btn-closer {
    position: absolute;
    top: 0;
    right: -2.5rem;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .as-hamburger {
        display: block !important;
        width: 33%;
    }
    .as-md-korzina {
        display: flex !important;
        width: 33%;
        justify-content: flex-end;
    }
    .as-header-number,
    .as-header-options,
    .as-header-logo-title {
        display: none;
    }

    .as-header-logo-name {
        display: flex;
    }

    .as-header-logo-name img {
        width: 43px;
        height: auto;
    }
    .as-header-logo img {
        width: 23px;
        height: auto;
    }
    .as-cart-header {
        display: none;
    }
    .as-cart-view {
        padding-top: 7.5rem;
    }
    .as-cart-title {
        margin-bottom: 2rem;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 2rem;
    }
    .as-cart-item {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
    }

    .as-ch-product {
        width: 100%;
        flex-direction: row;
    }
    .as-ch-img {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .as-ch-details {
        width: 100%;
        margin-bottom: 1rem;
    }

    .as-ch-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .as-ch-price::before {
        content: "Цена:";
        color: #7c7c7c;
        font-size: 1rem;
        font-weight: 500;
        line-height: 135%; /* 14.85px */
    }

    .as-ch-quantity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .as-ch-quantity::before {
        content: "Количество:";
        color: #7c7c7c;
        font-size: 1rem;
        font-weight: 500;
        line-height: 135%;
    }
    .as-ch-total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .as-ch-total::before {
        content: "Итого:";
        color: #7c7c7c;
        font-size: 1rem;
        font-weight: 500;
        line-height: 135%;
    }
    .as-ch-action {
        display: none;
    }

    .as-cf-left {
        display: none;
    }
    .as-cart-footer {
        display: flex;
        flex-direction: column;
    }
    .as-cf-right {
        width: 100%;
    }

    .as-footer-container {
        padding: 6rem 0 0 0;
    }
    .as-footer-logo {
        margin-bottom: 3rem;
    }

    .as-footer-container .row > * {
        margin-bottom: 2rem;
    }

    .as-footer-container .row {
        margin-bottom: auto;
    }
    .footer-social {
        flex-direction: column;
    }
    .as-footer-socials {
        margin-bottom: 4rem;
    }
    /* modal styles */
    .modal-fullscreen-md-down .modal-content {
        background-color: #f9ce03;
    }

    .modal-fullscreen-md-down .modal-content .nav-link {
        color: #141414;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 217.8%;
    }
    .as-modal-socials {
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
    }
    .as-modal-socials a {
        padding: 0 1rem;
    }

    .modal-fullscreen-md-down .nav {
        margin-bottom: 2rem;
    }

    .as-modal-download-on {
        display: flex;
        justify-content: center;
    }
}
